body {background-color: black; color:white}

.cell {width:40px; height:40px;text-align: center}
.cell img {width:25px; height:auto}
.floor {background-color: gray}
.wall {background-color: brown}

.header-container {
    display: flex;
}

.score {
    margin-left: 100px;
}

.main-container {
    display: flex;
}

.restart-btn {
height:100px;
width: 200px;
background-color: gray;
border: brown 10px solid;
margin-left: 50px;
color:brown;
font-size: 40px;
font-weight: 900;
text-align: center;
line-height: 95px;
cursor: pointer;
}